/* You can add global styles to this file, and also import other style files */
.mention-ui {
  background-color: #ebab34;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 4px;
  border-radius: 3px;
  display: inline-block;
}

.mention {
  display: inline-block;
  position: relative;
}
.mention:not(.ignore) {
  padding: 2px 8px 2px 4px;
  border-radius: 50px;
  background-color: #d8dbe3;
  color: #616775;
}
.mention:not(.ignore).focused {
  background-color: #ffe196;
}
.mention.ignore {
  /*border: 1px solid black;*/
}
.mention.ignore.focused {
  background-color: red;
}

.hidden {
  display: none;
}
